<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.divisionsimulation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_division2_logo4"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_division2_logo4_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.home.DemageSimulationActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.home.SimulActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon8Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon9Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon10Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.gallery.Weapon1List1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List8Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List9Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List10Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List11Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List12Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List13Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.gallery.Weapon2List1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List8Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List9Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List10Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List11Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List12Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.gallery.Weapon3List1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon3List2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon3List3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon3List4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon3List5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon3List6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon3List7Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.gallery.Weapon4List1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List8Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List9Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List10Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List11Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List12Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.gallery.Weapon5List1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon5List2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon5List3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon5List4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon5List5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon5List6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon5List7Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.gallery.Weapon6List1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6List2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6List3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6List4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6List5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6List6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6List7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6List8Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6List9Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.gallery.Weapon7List1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List8Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List9Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List10Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List11Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.slideshow.SheldList1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldList2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldList3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldList4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldList5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldList6Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.slideshow.SheldBrandActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldBrand1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldBrand2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldBrand3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldBrand4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldBrand5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldBrand6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldBrand7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldBrand8Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldBrand9Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldBrand10Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldBrand11Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldBrand12Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldBrand13Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldBrand14Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldBrand15Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldBrand16Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.slideshow.SheldGear1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldGear2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldGear3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldGear4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldGear5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldGear6Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.slideshow.SheldOption2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldOption3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldOption4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldOption5Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.slideshow.SheldSpecial1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldSpecial2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldSpecial3Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.tools.List1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.tools.List2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.tools.List3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.tools.List4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.tools.List5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.tools.List6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.tools.List7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.tools.List8Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"/>
    </application>

</manifest>