<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.divisionsimulation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_division2_logo4"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_division2_logo4_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.home.DemageSimulationActivity"></activity>
        <activity android:name=".ui.home.SimulActivity"></activity>
        <activity android:name=".ui.gallery.Weapon1Activity"></activity>
        <activity android:name=".ui.gallery.Weapon2Activity"></activity>
        <activity android:name=".ui.gallery.Weapon3Activity"></activity>
        <activity android:name=".ui.gallery.Weapon4Activity"></activity>
        <activity android:name=".ui.gallery.Weapon5Activity"></activity>
        <activity android:name=".ui.gallery.Weapon6Activity"></activity>
        <activity android:name=".ui.gallery.Weapon7Activity"></activity>
        <activity android:name=".ui.gallery.Weapon8Activity"></activity>
        <activity android:name=".ui.gallery.Weapon9Activity"></activity>
        <activity android:name=".ui.gallery.Weapon10Activity"></activity>

        <activity android:name=".ui.gallery.Weapon1List1Activity"></activity>
        <activity android:name=".ui.gallery.Weapon1List2Activity"></activity>
        <activity android:name=".ui.gallery.Weapon1List3Activity"></activity>
        <activity android:name=".ui.gallery.Weapon1List4Activity"></activity>
        <activity android:name=".ui.gallery.Weapon1List5Activity"></activity>
        <activity android:name=".ui.gallery.Weapon1List6Activity"></activity>
        <activity android:name=".ui.gallery.Weapon1List7Activity"></activity>
        <activity android:name=".ui.gallery.Weapon1List8Activity"></activity>
        <activity android:name=".ui.gallery.Weapon1List9Activity"></activity>
        <activity android:name=".ui.gallery.Weapon1List10Activity"></activity>
        <activity android:name=".ui.gallery.Weapon1List11Activity"></activity>
        <activity android:name=".ui.gallery.Weapon1List12Activity"></activity>
        <activity android:name=".ui.gallery.Weapon1List13Activity"></activity>

        <activity android:name=".ui.gallery.Weapon2List1Activity"></activity>
        <activity android:name=".ui.gallery.Weapon2List2Activity"></activity>
        <activity android:name=".ui.gallery.Weapon2List3Activity"></activity>
        <activity android:name=".ui.gallery.Weapon2List4Activity"></activity>
        <activity android:name=".ui.gallery.Weapon2List5Activity"></activity>
        <activity android:name=".ui.gallery.Weapon2List6Activity"></activity>
        <activity android:name=".ui.gallery.Weapon2List7Activity"></activity>
        <activity android:name=".ui.gallery.Weapon2List8Activity"></activity>
        <activity android:name=".ui.gallery.Weapon2List9Activity"></activity>
        <activity android:name=".ui.gallery.Weapon2List10Activity"></activity>
        <activity android:name=".ui.gallery.Weapon2List11Activity"></activity>
        <activity android:name=".ui.gallery.Weapon2List12Activity"></activity>

        <activity android:name=".ui.gallery.Weapon3List1Activity"></activity>
        <activity android:name=".ui.gallery.Weapon3List2Activity"></activity>
        <activity android:name=".ui.gallery.Weapon3List3Activity"></activity>
        <activity android:name=".ui.gallery.Weapon3List4Activity"></activity>
        <activity android:name=".ui.gallery.Weapon3List5Activity"></activity>
        <activity android:name=".ui.gallery.Weapon3List6Activity"></activity>
        <activity android:name=".ui.gallery.Weapon3List7Activity"></activity>

        <activity android:name=".ui.gallery.Weapon4List1Activity"></activity>
        <activity android:name=".ui.gallery.Weapon4List2Activity"></activity>
        <activity android:name=".ui.gallery.Weapon4List3Activity"></activity>
        <activity android:name=".ui.gallery.Weapon4List4Activity"></activity>
        <activity android:name=".ui.gallery.Weapon4List5Activity"></activity>
        <activity android:name=".ui.gallery.Weapon4List6Activity"></activity>
        <activity android:name=".ui.gallery.Weapon4List7Activity"></activity>
        <activity android:name=".ui.gallery.Weapon4List8Activity"></activity>
        <activity android:name=".ui.gallery.Weapon4List9Activity"></activity>
        <activity android:name=".ui.gallery.Weapon4List10Activity"></activity>
        <activity android:name=".ui.gallery.Weapon4List11Activity"></activity>
        <activity android:name=".ui.gallery.Weapon4List12Activity"></activity>

        <activity android:name=".ui.gallery.Weapon5List1Activity"></activity>
        <activity android:name=".ui.gallery.Weapon5List2Activity"></activity>
        <activity android:name=".ui.gallery.Weapon5List3Activity"></activity>
        <activity android:name=".ui.gallery.Weapon5List4Activity"></activity>
        <activity android:name=".ui.gallery.Weapon5List5Activity"></activity>
        <activity android:name=".ui.gallery.Weapon5List6Activity"></activity>
        <activity android:name=".ui.gallery.Weapon5List7Activity"></activity>

        <activity android:name=".ui.gallery.Weapon6List1Activity"></activity>
        <activity android:name=".ui.gallery.Weapon6List2Activity"></activity>
        <activity android:name=".ui.gallery.Weapon6List3Activity"></activity>
        <activity android:name=".ui.gallery.Weapon6List4Activity"></activity>
        <activity android:name=".ui.gallery.Weapon6List5Activity"></activity>
        <activity android:name=".ui.gallery.Weapon6List6Activity"></activity>
        <activity android:name=".ui.gallery.Weapon6List7Activity"></activity>
        <activity android:name=".ui.gallery.Weapon6List8Activity"></activity>
        <activity android:name=".ui.gallery.Weapon6List9Activity"></activity>

        <activity android:name=".ui.gallery.Weapon7List1Activity"></activity>
        <activity android:name=".ui.gallery.Weapon7List2Activity"></activity>
        <activity android:name=".ui.gallery.Weapon7List3Activity"></activity>
        <activity android:name=".ui.gallery.Weapon7List4Activity"></activity>
        <activity android:name=".ui.gallery.Weapon7List5Activity"></activity>
        <activity android:name=".ui.gallery.Weapon7List6Activity"></activity>
        <activity android:name=".ui.gallery.Weapon7List7Activity"></activity>
        <activity android:name=".ui.gallery.Weapon7List8Activity"></activity>
        <activity android:name=".ui.gallery.Weapon7List9Activity"></activity>
        <activity android:name=".ui.gallery.Weapon7List10Activity"></activity>
        <activity android:name=".ui.gallery.Weapon7List11Activity"></activity>

        <activity android:name=".ui.slideshow.SheldList1Activity"></activity>
        <activity android:name=".ui.slideshow.SheldList2Activity"></activity>
        <activity android:name=".ui.slideshow.SheldList3Activity"></activity>
        <activity android:name=".ui.slideshow.SheldList4Activity"></activity>
        <activity android:name=".ui.slideshow.SheldList5Activity"></activity>
        <activity android:name=".ui.slideshow.SheldList6Activity"></activity>

        <activity android:name=".ui.slideshow.SheldBrandActivity"></activity>
        <activity android:name=".ui.slideshow.SheldBrand1Activity"></activity>
        <activity android:name=".ui.slideshow.SheldBrand2Activity"></activity>
        <activity android:name=".ui.slideshow.SheldBrand3Activity"></activity>
        <activity android:name=".ui.slideshow.SheldBrand4Activity"></activity>
        <activity android:name=".ui.slideshow.SheldBrand5Activity"></activity>

        <activity android:name=".ui.slideshow.SheldOption6Activity"></activity>
    </application>

</manifest>