<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.divisionsimulation"
    android:installLocation="preferExternal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_division2_logo4"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_division2_logo4_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.home.SimulActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon8Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon9Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon10Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.gallery.Weapon1List1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List8Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List9Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List10Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List11Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List12Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon1List13Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.gallery.Weapon2List1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List8Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List9Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List10Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List11Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon2List12Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.gallery.Weapon3List1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon3List2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon3List3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon3List4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon3List5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon3List6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon3List7Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.gallery.Weapon4List1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List8Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List9Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List10Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List11Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon4List12Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.gallery.Weapon5List1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon5List2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon5List3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon5List4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon5List5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon5List6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon5List7Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.gallery.Weapon6List1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6List2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6List3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6List4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6List5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6List6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6List7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6List8Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon6List9Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.gallery.Weapon7List1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List8Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List9Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List10Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.gallery.Weapon7List11Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.slideshow.SheldOption2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldOption4Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.slideshow.SheldSpecial1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldSpecial2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.slideshow.SheldSpecial3Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.tools.List1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.tools.List2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.tools.List3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.tools.List4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.tools.List5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.tools.List6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.tools.List7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.tools.List8Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.send.BlacktuskListActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.BlacktuskList1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.BlacktuskList2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.BlacktuskList3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.BlacktuskList4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.BlacktuskList5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.BlacktuskList6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.BlacktuskList7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.BlacktuskList8Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.send.OutcastListActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.OutcastList1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.OutcastList2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.OutcastList3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.OutcastList4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.OutcastList5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.OutcastList6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.OutcastList7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.OutcastList8Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.OutcastList9Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.send.HyenasListActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.HyenasList1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.HyenasList2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.HyenasList3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.HyenasList4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.HyenasList5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.HyenasList6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.HyenasList7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.HyenasList8Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.HyenasList9Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.send.TruesonsListActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.TruesonsList1Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.TruesonsList2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.TruesonsList3Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.TruesonsList4Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.TruesonsList5Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.TruesonsList6Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.TruesonsList7Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.TruesonsList8Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.TruesonsList9Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.send.TruesonsList10Activity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.send.KeenerActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"/>
    </application>

</manifest>